* {
    box-sizing: border-box;
}

body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}


#lang {
    margin-left: 20px;
    outline: none;
    width: 150px;
    height: 25px;
}


.filter {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}

.categories-item {
    cursor: pointer;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
    padding: 3px;
    width: fit-content;
    border-radius: 10px;
    transition: all 0.2s;
}

.categories-item:hover {
    background-color: #30c4ffcb;
}

@media (min-width: 475px) {
    .filter {
        flex-direction: row;
    }
}
