@font-face {
  font-family: "ArialRegular";
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/fonts/arial/arial-regular.ttf") format("truetype");
}
@font-face {
  font-family: "ArialItalic";
  font-weight: 400;
  font-style: italic;
  src: url("../../assets/fonts/arial/arial-italic.ttf") format("truetype");
}
@font-face {
  font-family: "GeorgiaRegular";
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/fonts/georgia/georgia-regular.ttf") format("truetype");
}
@font-face {
  font-family: "GeorgiaBold";
  font-weight: 700;
  font-style: normal;
  src: url("../../assets/fonts/georgia/georgia-bold.ttf") format("truetype");
}
@font-face {
  font-family: "GeorgiaItalic";
  font-weight: 400;
  font-style: italic;
  src: url("../../assets/fonts/georgia/georgia-italic.ttf") format("truetype");
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url(../../assets/images/not-only/gradient.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  font-family: "ArialRegular";
  font-size: 15px;
  line-height: 160%;
}

.body_lock {
  overflow: hidden;
}

.overlay {
  display: none;
  background-color: rgba(41, 41, 41, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
}

.title {
  font-family: "GeorgiaRegular";
  font-size: 35px;
  line-height: 130%;
  font-weight: 400;
  color: #545454;
}

.text {
  font-family: "ArialRegular";
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

.container-main {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1279px) {
  .container-main {
    max-width: 93%;
  }
}
@media screen and (max-width: 768px) {
  .container-main {
    max-width: 708px;
  }
}
@media screen and (max-width: 750px) {
  .container-main {
    max-width: 93%;
  }
}

.header3 {
  font-family: "GeorgiaRegular";
  font-size: 35px;
  line-height: 130%;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
}

.header4 {
  font-family: "GeorgiaRegular";
  font-size: 20px;
  line-height: 115%;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
}

img, svg {
  display: block;
}

.header-container {
  padding: 60px 0px 56px 0px;
}
@media screen and (max-width: 1279px) {
  .header-container {
    padding: 4.29% 0px 4% 0px;
  }
}
@media screen and (max-width: 768px) {
  .header-container {
    padding: 30px 0 60px 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title__main {
  color: #F1CDB3;
  letter-spacing: 0.06em;
  font-family: "GeorgiaRegular";
  font-size: 32px;
  line-height: 110%;
  font-weight: 400;
  margin: 0;
  margin-bottom: 4px;
}
.header-title__subtitle {
  color: #FFFFFF;
  letter-spacing: 0.1em;
  font-size: 13px;
  margin: 0;
  margin-left: 4px;
}
.header-menu__icon {
  display: none;
  position: relative;
  width: 30px;
  height: 22px;
  z-index: 5;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .header-menu__icon {
    display: block;
    margin-right: 42px;
    margin-top: -1px;
  }
}
.header-menu__icon::after, .header-menu__icon::before, .header-menu__icon span {
  position: absolute;
  left: 0;
  height: 10%;
  width: 100%;
  background-color: white;
}
.header-menu__icon::after {
  content: "";
  bottom: 0;
  height: 9%;
}
.header-menu__icon::before {
  content: "";
  top: 0;
}
.header-menu__icon span {
  top: 50%;
  transform: translate(0%, -50%);
}
@media screen and (max-width: 767px) {
  .header-menu {
    display: none;
  }
}
.header-menu.burger-menu {
  display: none;
}
@media screen and (max-width: 767px) {
  .header-menu.burger-menu {
    display: block;
    width: 320px;
    position: fixed;
    top: 0;
    right: -320px;
    height: 100%;
    background-color: #292929;
  }
}
.header-menu__list {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}
@media screen and (max-width: 767px) {
  .header-menu__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    row-gap: 40px;
    max-width: 243px;
    margin: 0 auto;
  }
}
.header-menu__item {
  list-style: none;
  margin-right: 36px;
}
.header-menu__item a {
  text-decoration: none;
  color: #CDCDCD;
}
.header-menu__item a:visited {
  text-decoration: none;
  color: #CDCDCD;
}
.header-menu__item:first-child {
  border-bottom: 3px solid #F1CDB3;
}
.header-menu__item:first-child a {
  color: #FAFAFA;
}
.header-menu__item:hover a {
  color: #FAFAFA;
  transition: all 0.3s;
}
.header-menu__item:last-child {
  margin-right: 0px;
}
@media screen and (max-width: 767px) {
  .header-menu__item {
    margin: 0;
    font-family: "ArialRegular";
    font-size: 32px;
    line-height: 160%;
  }
}

@-webkit-keyframes slide-in {
  0% {
    right: -320px;
  }
  100% {
    right: 0px;
  }
}

@keyframes slide-in {
  0% {
    right: -320px;
  }
  100% {
    right: 0px;
  }
}
@-webkit-keyframes slide-out {
  0% {
    right: 0px;
  }
  100% {
    right: -320px;
  }
}
@keyframes slide-out {
  0% {
    right: 0px;
  }
  100% {
    right: -320px;
  }
}
@-webkit-keyframes logo-in {
  0% {
    top: -200px;
  }
  100% {
    top: 30px;
  }
}
@keyframes logo-in {
  0% {
    top: -200px;
  }
  100% {
    top: 30px;
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@-webkit-keyframes re-rotate {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes re-rotate {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.active {
  -webkit-animation-name: slide-in;
          animation-name: slide-in;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.not-active {
  -webkit-animation-name: slide-out;
          animation-name: slide-out;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.duplicate-title {
  -webkit-animation-name: logo-in;
          animation-name: logo-in;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: absolute;
  left: 10px;
}

.rotate {
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.re-rotate {
  -webkit-animation-name: re-rotate;
          animation-name: re-rotate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#footer {
  font-family: "GeorgiaRegular";
  font-size: 20px;
  line-height: 115%;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.footer-container {
  padding-top: 3.33%;
}
@media screen and (max-width: 1279px) {
  .footer-container {
    padding-top: 30px;
  }
}
.footer-content {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 1279px) {
  .footer-content {
    flex-wrap: wrap;
    justify-content: center;
    -moz-column-gap: 60px;
         column-gap: 60px;
    row-gap: 65px;
  }
}
@media screen and (max-width: 767px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    align-content: normal;
  }
}
@media screen and (max-width: 375px) {
  .footer-content {
    row-gap: 43px;
  }
}
.footer-content__contacts {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 39px;
  max-width: 278px;
}
.footer-content__contacts a {
  text-decoration: none;
  color: #F1CDB3;
}
.footer-content__contacts a:visited {
  text-decoration: none;
  color: #F1CDB3;
}
@media screen and (max-width: 1279px) {
  .footer-content__contacts {
    flex-basis: 50%;
    padding-top: 0px;
  }
}
@media screen and (max-width: 767px) {
  .footer-content__contacts {
    align-items: center;
  }
}
@media screen and (max-width: 375px) {
  .footer-content__contacts {
    row-gap: 40px;
  }
}
.footer-content__contacts .contacts-info__title {
  font-family: "GeorgiaRegular";
  font-size: 35px;
  line-height: 130%;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: 0.059em;
}
@media screen and (max-width: 767px) {
  .footer-content__contacts .contacts-info__title {
    font-size: calc(24px + 17 * (100vw - 320px) / 1280);
    letter-spacing: 0.08em;
    text-align: center;
  }
}
.footer-content__contacts .contacts-info__mail {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.footer-content__contacts .contacts-info__mail p {
  margin: 0;
}
.footer-content__contacts .contacts-info__phone {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.footer-content__contacts .contacts-info__phone p {
  margin: 0;
}
.footer-content__coordinates {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  max-width: 302px;
}
.footer-content__coordinates a {
  text-decoration: none;
  color: #F1CDB3;
}
.footer-content__coordinates a:visited {
  text-decoration: none;
  color: #F1CDB3;
}
@media screen and (max-width: 1279px) {
  .footer-content__coordinates {
    flex-basis: 50%;
    padding-top: 0px;
  }
}
@media screen and (max-width: 375px) {
  .footer-content__coordinates {
    row-gap: 40px;
  }
}
.footer-content__coordinates .coordinates-info__title {
  font-family: "GeorgiaRegular";
  font-size: 35px;
  line-height: 130%;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: 0.06em;
}
@media screen and (max-width: 767px) {
  .footer-content__coordinates .coordinates-info__title {
    font-size: calc(24px + 17 * (100vw - 320px) / 1280);
    letter-spacing: 0.08em;
    text-align: center;
    align-self: center;
  }
}
@media screen and (max-width: 375px) {
  .footer-content__coordinates .coordinates-info__title {
    max-width: 230px;
  }
}
.footer-content__coordinates .coordinates-info__address-1 {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.footer-content__coordinates .coordinates-info__address-1 p {
  margin: 0;
}
.footer-content__coordinates .coordinates-info__address-2 {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.footer-content__coordinates .coordinates-info__address-2 p {
  margin: 0;
}
@media screen and (max-width: 1279px) {
  .footer-content__image {
    flex-basis: 100%;
  }
}
@media screen and (max-width: 375px) {
  .footer-content__image {
    max-width: 260px;
    margin-top: -4px;
  }
}
@media screen and (max-width: 1279px) {
  .footer-content__image img {
    margin: 0 auto;
  }
}
@media screen and (max-width: 375px) {
  .footer-content__image img {
    width: 100%;
  }
}

header {
  background-color: #FFFFFF;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header-container {
  padding: 30px 0px;
}
.header_white .header-title {
  text-decoration: none;
  color: inherit;
}
.header_white .header-title__main {
  color: #545454;
}
.header_white .header-title__subtitle {
  color: #292929;
}
.header_white .header-title:visited {
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 767px) {
  .header_white .header-menu {
    background-color: #FFFFFF;
  }
}
.header_white .header-menu .header-menu__item a {
  color: #545454;
}
.header_white .header-menu .header-menu__item a:visited {
  color: #545454;
}
.header_white .header-menu .header-menu__item:first-child {
  border-bottom: none;
}
.header_white .header-menu .header-menu__item:nth-child(2) {
  border-bottom: 3px solid #F1CDB3;
}
.header_white .header-menu .header-menu__item:nth-child(2) a {
  color: #292929;
}
.header_white .header-menu .header-menu__item:first-child a {
  color: #545454;
}
.header_white .header-menu .header-menu__item:hover a {
  color: #292929;
  transition: all 0.3s;
}
.header_white .header-menu__icon::after, .header_white .header-menu__icon::before, .header_white .header-menu__icon span {
  background-color: #000000;
}

.overlay {
  height: 2849px;
}

.friends {
  background-color: #F6F6F6;
}
.friends .friends-container {
  padding-top: 6.67%;
  padding-bottom: 8.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1279px) {
  .friends .friends-container {
    padding-top: 10.67%;
    padding-bottom: 10.67%;
  }
}
@media screen and (max-width: 767px) {
  .friends .friends-container {
    padding-top: 13.67%;
    padding-bottom: 15%;
  }
}
.friends .friends-title {
  letter-spacing: 0.06em;
  max-width: 482px;
  text-align: center;
  margin: 0;
  margin-bottom: 41px;
}
@media screen and (max-width: 1279px) {
  .friends .friends-title {
    margin-bottom: 2.4%;
  }
}
@media screen and (max-width: 767px) {
  .friends .friends-title {
    letter-spacing: 0.08em;
    font-size: calc(24px + 17 * (100vw - 320px) / 1280);
    margin-bottom: 9.4%;
  }
}

.friends-cards {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 30px;
  justify-content: space-between;
  padding: 15px 0px;
  margin-bottom: 45px;
}
@media screen and (max-width: 1279px) {
  .friends-cards {
    max-height: 1365px;
    overflow-y: hidden;
    margin-bottom: 53px;
    max-width: 700px;
    justify-content: center;
    -moz-column-gap: 5vw;
         column-gap: 5vw;
  }
}
@media screen and (max-width: 767px) {
  .friends-cards {
    justify-content: center;
    max-width: 570px;
  }
}
.friends-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  max-width: 270px;
  min-height: 435px;
  background: #FAFAFA;
  transition: background 0.3s;
  border-radius: 9px;
  overflow: hidden;
}
.friends-card:hover {
  background: #FFFFFF;
}
.friends-card:hover .friends-card__button {
  background: #FDDCC4;
}
.friends-card__image {
  margin-bottom: 30px;
  height: 62.07%;
}
.friends-card__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.friends-card__text {
  font-family: "GeorgiaRegular";
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 30px;
}
.friends-card__button {
  outline: none;
  border: 2px solid #F1CDB3;
  cursor: pointer;
  padding: 13px 45px;
  border-radius: 100px;
  background: transparent;
  font-family: "GeorgiaRegular";
  font-size: 17px;
  line-height: 130%;
  text-decoration: none;
  color: #292929;
  letter-spacing: 0.06em;
  transition: background 0.3s;
  margin-bottom: 30px;
}
.friends-card__button:visited {
  text-decoration: none;
  color: #292929;
}

.pagination {
  font-family: "GeorgiaRegular";
  font-size: 20px;
  line-height: 115%;
  font-weight: 400;
}
.pagination-handle {
  display: flex;
  max-width: 340px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media screen and (max-width: 767px) {
  .pagination-handle {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.pagination-handle__handler {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  transition: background 0.3s;
  color: #292929;
  border: 2px solid #F1CDB3;
  letter-spacing: 0.06em;
}
.pagination-handle__handler:hover {
  background-color: #FDDCC4;
}
.pagination-handle__handler.current {
  background-color: #F1CDB3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-handle__handler.current:hover {
  cursor: default;
}
.pagination-handle__handler_inactive {
  cursor: default;
  border-color: #E5E5E5;
  color: #E5E5E5;
}
.pagination-handle__handler_inactive:hover {
  background-color: transparent;
}

.popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  letter-spacing: 0.06em;
  transition: opacity 0.3s ease;
}
.popup-container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
}
.popup-content {
  position: relative;
  background-color: #FAFAFA;
  max-width: 900px;
  height: 500px;
  display: flex;
  border-radius: 9px;
}
.popup-content__image {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 9px 0 0 9px;
  max-width: 500px;
}
@media screen and (max-width: 1279px) {
  .popup-content__image {
    max-width: 350px;
  }
}
@media screen and (max-width: 767px) {
  .popup-content__image {
    display: none;
  }
}
.popup-content__description {
  display: flex;
  flex-direction: column;
  padding: 50px 20px 0 30px;
  max-width: 400px;
  overflow-y: auto;
}
@media screen and (max-width: 1279px) {
  .popup-content__description {
    padding: 10px 10px 0 10px;
    max-width: 260px;
  }
}
@media screen and (max-width: 767px) {
  .popup-content__description {
    flex-basis: 100%;
    align-items: center;
  }
}
.popup-content__description .description-content__nickname {
  color: #000000;
  margin: 0;
  margin-bottom: 10px;
}
.popup-content__description .description-content__breed {
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}
.popup-content__description .description-content__text {
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
  font-family: "GeorgiaRegular";
  font-size: 15px;
  line-height: 110%;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .popup-content__description .description-content__text {
    text-align: justify;
    align-self: flex-start;
  }
}
.popup-content__description .description-content__features {
  color: #000000;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  font-family: "GeorgiaRegular";
  font-size: 15px;
  line-height: 110%;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .popup-content__description .description-content__features {
    align-self: flex-start;
  }
}
.popup-content__description .description-content__features li {
  margin-bottom: 11px;
}
.popup-content__description .description-content__features li .bold {
  font-weight: 700;
  font-family: "GeorgiaBold";
}
.popup-content__description .description-content__features li .bold span {
  font-weight: 400;
  font-family: "GeorgiaRegular";
}
.popup-content__description .description-content__features li::marker {
  color: #F1CDB3;
}
.popup-close {
  position: absolute;
  top: -52px;
  right: -46px;
  width: 52px;
  height: 52px;
  background-image: url(../../assets/icons/modal/vector.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100px;
  border: 3px solid #F1CDB3;
  transition: background-color 0.3s;
}
.popup-close:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}
.popup.active {
  visibility: visible;
  opacity: 1;
}