<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Online-store</title>
</head>

<body>
  <header class="header sticky top-0">
    <nav class="nav bg-transparent">
      <div class="container">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">
            <span class="text-red-600 font-bold">Wheel</span>shop<span class="motion-safe:animate-pulse">_</span>
          </a>
          <ul id="nav-mobile" class="right">
            <li><a id="cart" href="javascript:void(0)"><i class="large material-icons">shopping_cart</i></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <section class="hero row mb-0 mt-[-64px]">
      <div class="col s12 h-[500px] flex-col justify-center items-center valign-wrapper">
        <h1 class="hero__title tracking-[40px] text-8xl text-white font-semibold">INDIVIDUAL</h1>
        <h2 class="hero__subtitle text-white text-8xl tracking-wider font-bold">WHEELS</h2>
      </div>
    </section>
    <div class="row mb-0 min-h-[550px]">
      <div class="filters col s3 xl2 mt-3 flex flex-col">
        <div class="filters-search w-full">
          <label for="search" class="search-label block text-sm font-medium text-gray-700">SEARCH</label>
          <div class="search-input_block mt-1 relative rounded-md shadow-sm">
            <div class="input-block_icon absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <span class="text-gray-500 sm:text-sm"><i class="material-icons">search</i></span>
            </div>
            <input type="text" name="search" id="search"
              class="text-input box-border focus:ring-red-500 focus:border-red-500 block pl-12 sm:text-sm
                  border-b-red-500 shadow-red-600 border-red-500 rounded-md bg-[#f5f5f5]"
              placeholder="type the text..."
              autocomplete="off">
          </div>
        </div>
        <div class="mb-5">
          <label id="listbox-label" class="block text-sm font-medium text-gray-700"> SORT BY </label>
          <div id="filterByRules" class="mt-1 relative">
            <button id="sort-list_button" 
                    type="button"
                    class="relative w-full bg-white border border-gray-300 rounded-md shadow-sm pl-3 pr-10 py-2 text-left
                        focus:outline-none focus:ring-1 focus:ring-red-500 focus:border-red-500 sm:text-sm cursor-pointer"
                    aria-haspopup="listbox"
                    aria-expanded="true"
                    aria-labelledby="listbox-label">
              <span class="flex items-center">
                <span id="current-sort" class="ml-3 block truncate">Choose....</span>
              </span>
              <span class="ml-3 absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                  fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd"
                    d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                    clip-rule="evenodd" />
                </svg>
              </span>
            </button>
            <ul id="sort-list"
                class="absolute z-10 mt-1 w-full bg-white shadow-lg max-h-56 rounded-md py-1 text-base ring-1 ring-black
                    ring-opacity-5 overflow-auto focus:outline-none sm:text-sm opacity-0 invisible transition ease-in duration-100"
                tabindex="-1"
                role="listbox"
                aria-labelledby="listbox-label"
                aria-activedescendant="listbox-option-3">
              <li id="byHighPrice"
                  class="text-gray-900 cursor-default hover:text-white hover:bg-red-500
                        select-none relative py-2 pl-3 pr-9"
                  role="option">
                <div class="flex items-center">
                  <span class="sort-name font-normal ml-3 block truncate">The most exepensive first</span>
                </div>
              </li>
              <li id="byLowPrice" 
                  class="text-gray-900 cursor-default hover:text-white hover:bg-red-500
                        select-none relative py-2 pl-3 pr-9"
                  role="option">
                <div class="flex items-center">
                  <span class="sort-name
                              font-normal ml-3 block truncate">
                    The cheapest first
                  </span>
                </div>
                <span class="text-red-500 absolute inset-y-0 right-0 flex items-center pr-4">
              </li>
              <li id="byName"
                  class="text-gray-900 cursor-default hover:text-white hover:bg-red-500
                        select-none relative py-2 pl-3 pr-9"
                  role="option">
                <div class="flex items-center">
                  <span class="sort-name font-normal ml-3 block truncate">From A to Z</span>
                </div>
              </li>
              <li id="byNameReversely" class="text-gray-900 cursor-default hover:text-white hover:bg-red-500 select-none relative py-2 pl-3 pr-9" id="listbox-option-0"
                role="option">
                <div class="flex items-center">
                  <span class="sort-name font-normal ml-3 block truncate">From Z to A</span>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div id="filterByColor" class="border-b border-gray-200 mb-5">
          <h3 id="showHide" class="-my-3 flow-root">
            <button type="button" class="py-3 bg-white w-full flex items-center justify-between text-sm text-gray-400 hover:text-gray-500">
              <span class="font-medium text-gray-700"> COLOR </span>
              <span class="ml-6 flex items-center">
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
                </svg>
                <svg class="h-5 w-5 hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M5 10a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
              </span>
            </button>
          </h3>
          <div class="pt-6">
            <div id="colorsList" class="space-y-4"></div>
          </div>
        </div>
        <div id="filterByDiamater" class="border-b border-gray-200 mb-5">
          <h3 id="showHide" class="-my-3 flow-root">
            <button type="button" class="py-3 bg-white w-full flex items-center justify-between text-sm text-gray-400 hover:text-gray-500">
              <span class="font-medium text-gray-700"> DIAM </span>
              <span class="ml-6 flex items-center">
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
                </svg>
                <svg class="h-5 w-5 hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M5 10a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
              </span>
            </button>
          </h3>
          <div class="pt-6">
            <div id="diamsList" class="space-y-4"></div>
          </div>
        </div>
        <div id="filterByPcd" class="border-b border-gray-200 mb-5">
          <h3 id="showHide" class="-my-3 flow-root">
            <button  type="button" class="py-3 bg-white w-full flex items-center justify-between text-sm text-gray-400 hover:text-gray-500">
              <span class="font-medium text-gray-700"> PCD </span>
              <span class="ml-6 flex items-center">
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
                </svg>
                <svg class="h-5 w-5 hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M5 10a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
              </span>
            </button>
          </h3>
          <div class="pt-6">
            <div id="pcdList" class="space-y-4"></div>
          </div>
        </div>
        <a id="reset" class="waves-effect waves-light btn bg-red-400 self-end mb-5">RESET</a>
      </div>
      <div id="goods" class="col s9 xl10 bg-[#f5f5f5] row mb-0"></div>
    </div>
  </main>
  <footer class="page-footer bg-[#4f4f4f] pt-0">
    <div class="container footer">
      <div class="footer__content row valign-wrapper center-align mb-0 pb-3 pt-4">
        <a href="https://rs.school/js/" class="logo_link col s4">
          <img src="<%= require('./assets/images/footer/rsschool_logo.svg') %>" alt="logo"
            class="logo h-[30px] animate-bounce">
        </a>
        <span class="col s4 font-medium">2022</span>
        <div class="social-links col s4 flex justify-center">
          <a href="https://github.com/freenokke" class="social-link flex">
            <span class="mr-2 color text-white font-medium">freenokke</span>
            <img src="<%= require('./assets/images/footer/github.svg') %>" alt="github"
              class="social-link__img h-[30px] w-[30px] animate-bounce">
          </a>
        </div>
      </div>
    </div>
  </footer>

  <template id="goodsCardTemp">
    <div class="col s12 m6 l4 xl3">
      <div class="card hoverable hover:scale-105 transition-transform cursor-pointer overflow-hidden">
        <div id="popular"
            class="absolute justify-center items-end w-32 h-16 right-[-45px] top-[-7px] z-[1] rotate-45
                    bg-indigo-600 text-white hidden">popular</div>
        <div class="card-image">
          <img class="img responsive-img">
          <span class="card-title"></span>
          <a id="addToCart" class="btn-floating halfway-fab waves-effect waves-light red"><i
              class="material-icons">add_shopping_cart</i></a>
        </div>
        <div class="card-content flex-col">
          <ul class="mb-2">
            <li>
              <span class="text-black font-semibold">Brand: </span><span class="brand text-gray-700"></span>
            </li>
            <li>
              <span class="text-black font-semibold">Color: </span><span class="color text-gray-700"></span>
            </li>
            <li>
              <span class="text-black font-semibold">Pcd: </span><span class="pcd text-gray-700"></span>
            </li>
            <li>
              <span class="text-black font-semibold">Diam: </span><span class="diam text-gray-700"></span>
            </li>
            <li>
              <span class="text-black font-semibold">Wide: </span><span class="wide text-gray-700"></span>
            </li>
            <li>
              <span class="text-black font-semibold">Offset: </span><span class="et text-gray-700"></span>
            </li>
          </ul>
          <p class="flex justify-center"><span class="text-black font-semibold mr-1">Price:</span><span class="price text-gray-700"></span></p>
        </div>
      </div>
    </div>
  </template>

</body>

</html>
<!-- 
height: 58px;
    width: 123px;
    position: absolute;
    right: -45px;
    top: -7px;
    background: red;
    z-index: 1;
    /* border-radius: 5px; */
    color: wheat;
    transform: rotate(45deg); -->