<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Online-store</title>
</head>

<body>
  <header class="header sticky top-0">
    <nav class="nav bg-transparent">
      <div class="container">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">
            <span class="text-red-600 font-bold">Wheel</span>shop<span class="motion-safe:animate-pulse">_</span>
          </a>
          <ul id="nav-mobile" class="right">
            <li><a id="cart" href="javascript:void(0)"><i class="large material-icons">shopping_cart</i></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <section class="hero row mb-0 mt-[-64px]">
      <div class="col s12 h-[500px] flex-col justify-center items-center valign-wrapper">
        <h1 class="hero__title tracking-[40px] text-8xl text-white font-semibold">INDIVIDUAL</h1>
        <h2 class="hero__subtitle text-white text-8xl tracking-wider font-bold">WHEELS</h2>
      </div>
    </section>
    <div class="row mb-0 min-h-[550px]">
      <div class="filters col s3 xl2 mt-3 ">
        <div class="filters-search w-full">
          <label for="search" class="search-label block text-sm font-medium text-gray-700">SEARCH</label>
          <div class="search-input_block mt-1 relative rounded-md shadow-sm">
            <div class="input-block_icon absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <span class="text-gray-500 sm:text-sm"><i class="material-icons">search</i></span>
            </div>
            <input type="text" name="search" id="search"
              class="text-input box-border focus:ring-red-500 focus:border-red-500 block pl-12 sm:text-sm
                  border-b-red-500 shadow-red-600 border-red-500 rounded-md bg-[#f5f5f5]"
              placeholder="type the text..."
              autocomplete="off">
          </div>
        </div>

  <footer class="page-footer bg-[#4f4f4f] pt-0">
    <div class="container footer">
      <div class="footer__content row valign-wrapper center-align mb-0 pb-3 pt-4">
        <a href="https://rs.school/js/" class="logo_link col s4">
          <img src="<%= require('./assets/images/footer/rsschool_logo.svg') %>" alt="logo"
            class="logo h-[30px] animate-bounce">
        </a>
        <span class="col s4 font-medium">2022</span>
        <div class="social-links col s4 flex justify-center">
          <a href="https://github.com/freenokke" class="social-link flex">
            <span class="mr-2 color text-white font-medium">freenokke</span>
            <img src="<%= require('./assets/images/footer/github.svg') %>" alt="github"
              class="social-link__img h-[30px] w-[30px] animate-bounce">
          </a>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>