@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../../components/view/gameScreen/garage/track/track.scss';

html {
  font-size: 14px;
}

body {
  background: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
};