#about
    background-color: $color-section_primary       
.about-content
    &__container
        padding: 6.67% 14.58% 8.33% 14.58%
        display: flex
        justify-content: space-between
        align-items: center
        gap: 120px
        
    &__image
        img
            display: block

    // .content__text

    &__info
        display: flex
        flex-direction: column
        max-width: 430px
        .about-info
            &__title
                letter-spacing: 0.06em
                max-width: 370px
                margin: 0
            &__text p
                margin:0
                &:first-child
                    margin: 25px 0
                