#footer
    @include titleFont($size: 20px, $line-h: 115%)
    letter-spacing: 0.06em
    color: #F1CDB3
.footer
    &-container
        padding-top: 3.33%
        @media screen and ( max-width: 1279px )
            padding-top: 30px
    &-content
        display: flex
        align-content: flex-start
        justify-content: space-between
        @media screen and ( max-width: 1279px )
            flex-wrap: wrap
            justify-content: center
            column-gap: 60px
            row-gap: 65px
        @media screen and ( max-width: calc($tablet - 1px)  )
            flex-direction: column
            align-items: center
            align-content: normal
        @media screen and ( max-width: $mobile-m )
            row-gap: 43px
        &__contacts
            padding-top: 16px
            display: flex
            flex-direction: column
            row-gap: 39px
            max-width: 278px
            a
                @include link(#F1CDB3)
            @media screen and ( max-width: 1279px )
                flex-basis: 50%
                padding-top: 0px
            @media screen and ( max-width: calc($tablet - 1px)  )
                align-items: center
            @media screen and ( max-width: $mobile-m )
                row-gap: 40px
            .contacts-info
                &__title
                    @include titleFont
                    color: #FFFFFF
                    letter-spacing: 0.059em
                    @media screen and ( max-width: calc($tablet - 1px)  )
                        font-size: calc(24px + (10 + 10 * 0.7) * ((100vw - 320px) / 1280))
                        letter-spacing: 0.08em
                        text-align: center
                &__mail
                    display: flex
                    align-items: center
                    column-gap: 20px
                    p
                        margin: 0
                &__phone
                    display: flex
                    align-items: center
                    column-gap: 20px
                    p
                        margin: 0
        &__coordinates
            padding-top: 16px
            display: flex
            flex-direction: column
            row-gap: 32px
            max-width: 302px
            a
                @include link(#F1CDB3)
            @media screen and ( max-width: 1279px )
                flex-basis: 50%
                padding-top: 0px
            @media screen and ( max-width: $mobile-m )
                row-gap: 40px
            .coordinates-info
                &__title
                    @include titleFont
                    color: #FFFFFF
                    letter-spacing: 0.06em
                    @media screen and ( max-width: calc($tablet - 1px)  )
                        font-size: calc(24px + (10 + 10 * 0.7) * ((100vw - 320px) / 1280))
                        letter-spacing: 0.08em
                        text-align: center
                        align-self: center
                    @media screen and ( max-width: $mobile-m )
                        max-width: 230px
                &__address-1
                    display: flex
                    align-items: center
                    column-gap: 20px
                    p
                        margin: 0
                &__address-2
                    display: flex
                    align-items: center
                    column-gap: 20px
                    p 
                        margin: 0
        &__image
            @media screen and ( max-width: 1279px )
                flex-basis: 100%
            @media screen and ( max-width: $mobile-m )
                max-width: 260px
                margin-top: -4px
            img
                @media screen and ( max-width: 1279px )
                    margin: 0 auto
                @media screen and ( max-width: $mobile-m )
                    width: 100%