* 
    box-sizing: border-box

html 
    scroll-behavior: smooth

body
    background: url(../../assets/images/not-only/gradient.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20
    @include textFont

.body_lock
    overflow: hidden    

.overlay
    display: none
    background-color: rgba(41, 41, 41, 0.6)
    position: absolute
    width: 100%
    height: 100%
.title
    @include titleFont
    color: $color-title

.text
    @include textFont
    color: $color-text

.container-main
    max-width: $container
    margin: 0 auto
    @media screen and ( max-width: 1279px)
        max-width: $containerIntermediate
    @media screen and ( max-width: 768px)
        max-width: $container-tablet
    @media screen and ( max-width: 750px)
        max-width: $containerIntermediate
        

.header3
    @include titleFont
    letter-spacing: 0.06em
    color: $color-title
    margin: 0
.header4
    @include titleFont($size: 20px, $line-h: 115%)
    letter-spacing: 0.06em
    color: $color-title
    margin: 0

img, svg
    display: block
