.header-container 
    padding: 60px 0px 56px 0px
.header 
    display: flex
    justify-content: space-between 
    align-items: center
    &-title
        &__main
            color: #F1CDB3
            letter-spacing: 0.06em
            @include titleFont($size:32px,$line-h: 110%)
            margin: 0
            margin-bottom: 4px
        &__subtitle
            color: #FFFFFF
            letter-spacing: 0.1em
            font-size: 13px
            margin: 0
            margin-left: 4px
    &-menu
        flex-basis: 39.55%
        &__list
            width: 100%
            display: flex
            justify-content: flex-end
            margin: 0
            padding: 0
        &__item
            a
                @include link(#CDCDCD)
            &:first-child
                border-bottom: 3px solid #FAFAFA
            &:first-child a
                color: #FAFAFA
            &:hover a
                color: #FAFAFA
                transition: all 0.3s
            list-style: none
            margin-right: 35px
            &:last-child
                margin-right: 0px
                

            
        

